<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moro">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name=".Fragments.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- BRUGES TIL SENTRY.IO, GIVER EN VALUE SOM KALDES DSN (DATA SOURCE NAME) -->
        <meta-data android:name="io.sentry.dsn" android:value="https://5c95bc18ac2347c1a654c669e48ee273@o503098.ingest.sentry.io/5587708" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>